:root{
    --Transparent: 'rgba(0,0,0,0)';
    --White: #FFFFFF;
    --Black: #000000;
    --Background: #E6EEFF;
    --WeatherBlue: #2662FF;
    --DarkGrey: #324567;
    --LightGrey: #A1B3D2;
}

body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    background-color: var(--Background);
 }

#app {
    display: flex;
    flex: 1;
    flex-direction: column;
}